* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.main-header {
  background-color: #4CAF50;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000;
  height: 60px;
}

.main-header button {
  border: none;
  background-color: #4CAF50;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}

.main-header button:hover {
  color: rgb(117, 117, 117);
  transform: scale(1.035);
}

.banner {
  margin-top: 0;
}

.banner img {
  width: 100%;
  display: block;

}

.banner button {
  color: white;
  background-color: black;
  font-size: 24px;
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  display: block;
  cursor: pointer;
}

.banner button:hover {
  color: black;
  background-color: rgb(117, 117, 117);
}

.block-1 {
  text-align: left;
  font-family: "Verdana", sans-serif;
  max-width: max-content;
  width: 100%;
  padding-top: 2rem;
    }

.heading1 {
  font-size: 64px;
  margin: 20px 0;
  font-weight: 500;
}

.heading2 {
  font-size: 48px;
  color: #4CAF50;
  margin: 16px 0;
  font-weight: 500;
}

.block-1-1 {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding-left: 20px;
  padding-right: 32px;
  padding-top: 12px;
  padding-bottom: 32px;
}

.block-1-1 p {
  line-height: 150%;
  text-align: left;
  font-size: 15px;
}
.block-1-1 i {
  font-size: 20px;
}

.block-1-1 p span {
  line-height: 130%;
  text-align: left;
  font-size: 26px;
}

.block-1-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  padding-bottom: 80px;
}

.block-1-1 button {
  width: 100%;
  height: 2.5em;
  background-color: white;
  border: none;
  cursor: pointer;
  margin: 5% 0 auto;
  font-size: 1rem;

}

.block-1-1 button:hover {
  background-color: rgb(186, 186, 186);
}

.block-1-2 img {
  max-width: 65%;
}
.block-2 img{
  display: none;
}

.block-2 {
  text-align: left;
  font-family: "Verdana", sans-serif;
  width: 100%;
  background-color: rgb(235, 232, 227);
  padding-bottom: 120px;
  width: 100%;
  max-width: 800px;
  margin: auto;
   padding-left: 20px;
    padding-right: 32px;
    padding-top: 12px;
    padding-bottom: 32px;
}

.block-2 .heading1 {
  font-size: 3rem;
  margin: 10px 0;
  font-weight: 500;
}

.block-2 .heading2 {
  font-size: 2rem;
  color: #ec333c;
  margin: 16px 0;
  font-weight: 600;
}

.block-2 p {
  line-height: 150%;
  text-align: left;
  font-size: 16px;
}

.block-2 p span {
  line-height: 130%;
  text-align: left;
  font-size: 26px;
}

.block-3 {
  background-color: #616161;
  color: white;
}

.block-3-1 {
  text-align: center;
  padding-top: 20%;
  padding-bottom: 10%;
}

.block-3-1 .heading1 {
  font-size: 3rem;
  margin: 0;
  font-weight: 600;
}

.block-3-1 p {
  padding-top: 2%;
  font-size: 1rem;
}

.block-3-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3%;
  padding-bottom: 10%;
}

.block-3-2 .icon {
  text-align: center;
  padding-bottom: 20%;
}

.block-3-2 .icon p {
  font-size: 1.25rem;
  margin-top: 8px;
}

.block-3-2 .icon i {
  font-size: 64px;
  margin-bottom: 8px;
}

.block-4 {
  margin-top: 90px;
}

.block-4-1 {
  text-align: center;
  padding-bottom: 10%;
}

.block-4-1 .heading1 {
  font-size: 5rem;
  margin: 0;
  font-weight: 600;
}

.block-4-1 p {
  padding-top: 2%;
  font-size: 1.3rem;
}

.block-4-2 {
  padding: 0 60px;
}

.block-4-2-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.block-4-2-1 ul {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
  margin-bottom: 10%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.block-4-2-1 ul li {
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid #ccc;
  background-color: white;
}

.block-4-2-1 ul li.basic {
  background-color: rgb(177, 177, 177);
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.block-4-2-1 ul li.premium {
  background-color: #f44336;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.block-4-2-1 ul li button {
  background-color: rgb(0, 0, 0);
  color: white;
  width: 180px;
  height: 60px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.block-4-2-1 ul li button:hover {
  background-color: rgb(238, 238, 238);
  color: black;
}

.footer {
  width: 100%;
  background-color: #ccc;
  border: 1px solid #ccc;
  text-align: center;
  padding: 2rem 0;
}

.footer .icons {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.footer i {
  margin: 0 0.5rem;
  cursor: pointer;
}


@media (min-width: 1024px) {
  body{
    background-color: black;
  }
  .container {
    max-width: 1500px;
    margin: 0 auto;  
    background-color: white;

  }


  .block-1,
  .block-2 {
    display: flex;
    flex-direction: row;
    gap: 40px;  
    align-items: center;
    width: 100%;
    max-width: max-content;
  }

  
  .block-1-1 {
    flex: 1;
    padding-right: 20px;
    width: 100%;
    max-width: max-content;
  }
  .block-1-1 button{
    max-width: 220px;
  }

  .block-1-2 {
    flex-shrink: 0;
    width: auto;
    max-width: 500px;  
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .block-1-2 img {
    width: 100%;
    height: auto;
    margin-left: 30% ;
  }

  .block-2-img img {
    display: block;
    width: 100%;
    height: auto;
  }

   
  .block-2 {
    display: flex;
    align-items: center;  
    gap: 40px;
    padding: 60px 40px;

  }

  .block-2-img {
    flex: 1;
    display: flex;
    justify-content: flex-start;  
    align-items: center;
     width: 60%;  
      max-width: 300px;  
      height: auto;
      opacity: 0.5;
  }

  .block-2-heading {
    flex: 1;
    padding: 0 10px;
    
  }

  .block-1-1,
  .block-1-2,
  .block-2-heading,
  .block-2-img {
    flex: 1;
  }

  .block-3-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
  }

  .block-4-2 {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .block-4-2-1 {
    flex: 1;
  }

  .banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .banner-image img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
}
